* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #23252c;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
h2 {
  font-size: 18px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  color: #f3bf99;
  margin-bottom: 15px;
}
p {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5em;
  color: #dcdcdc;
}

.content {
  width: 95%;
  margin: 15px auto;
}

.section {
  background-color: #1a1b21;
  padding: 0 30px 20px;
}

.justify {
  text-align: justify;
}

.section.profile {
  padding: 0;
}

.section.info {
  text-align: center;
}

.section.profile img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

.container-portfolio {
  text-align: center;
  display: flex;
  align-content: center;
  margin: 10px 0 10px 0;
  justify-content: center;
}

.container-btn {
  display: flex;
  flex-direction: row;
}

.btn {
  padding: 10px;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
  width: 100%;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

.container-portfolio .btn {
  width: 50%;
  margin-right: 0;
}

.btn-dark {
  background-color: #5093e2;
  color: #fff;
  margin-right: 0;
}

.btn svg {
  margin-right: 5px;
}
.footer {
  border-radius: 0 0 10px 10px;
  background-color: #161619;
  padding: 15px 0;
  text-align: center;
}

.footer a {
  font-size: 25px;
  margin: 0 15px;
  cursor: pointer;
  color: #ffffff;
}


@media screen and (min-width: 600px) {
  .content{
    max-width:400px;
  }
}